.container {
  max-width: 960px;
}

body {
  background:linear-gradient(rgba(250, 245, 245, 0.7), rgba(250, 245, 245, 0.7)), url("../images/background.jpg"); 
}

.construccion {
  margin-top: 5rem;
  padding-bottom: 1rem;
}


#tiposDeConstruccion {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

li::marker {
  color: rgba(249, 244, 244, 0.89);
}

.api {
  width: 350px;
}

.api:hover {
  width: 500px;
}

